<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>数据列表</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <style>
        table {
            text-align: center;
        }


        .table th,
        .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        /* table tr td button {
            width: 30%;
            margin: auto 10px;
        } */
    </style>
</head>

<body>
    <h2>VueCURD作业</h2>
    <div id="app">
        <table width="100%" class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>Email</th>
                <th>操作</th>
            </tr>

            <tr v-for="(item, index) in userList" :key="index" v-if="item.vis">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.sex}}</td>
                <td>{{item.age}}</td>
                <td>{{item.email}}</td>
                <td>

                    <button @click="update(index)" type="button" class="btn btn-success btn-md" data-toggle="modal"
                        data-target="#updateModal">
                        修改
                    </button>

                    <button @click="setDelIndex(index)" type="button" class="btn btn-danger btn-md" data-toggle="modal"
                        data-target="#delModal">
                        删除
                    </button>

                </td>
            </tr>

        </table>
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#selectModal">查询</button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addModal">添加</button>
        <!-- 模态框组件 -->
        <!-- 查询数据 -->
        <div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加数据</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ID：</label>
                                <input v-model="selectId" type="text" id="addUsername" class="form-control"
                                    placeholder="ID：">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="select">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 增添数据 -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加数据</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ID：</label>
                                <input v-model="newUser.id" type="text" id="addUsername" class="form-control"
                                    placeholder="ID">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名：</label>
                                <input v-model="newUser.name" type="text" id="addUserPwd" class="form-control"
                                    placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">性别：</label>
                                <input v-model="newUser.sex" type="text" id="addUserPwd" class="form-control"
                                    placeholder="性别">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">年龄：</label>
                                <input v-model="newUser.age" type="text" id="addUserPwd" class="form-control"
                                    placeholder="年龄">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email：</label>
                                <input v-model="newUser.email" type="text" id="addUserPwd" class="form-control"
                                    placeholder="Email">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="add">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 修改数据 -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改数据</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ID：</label>
                                <input v-model="updateUser.id" readonly type="text" id="addUsername"
                                    class="form-control" placeholder="ID">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名：</label>
                                <input v-model="updateUser.name" type="text" id="addUsername" class="form-control"
                                    placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">性别：</label>
                                <input v-model="updateUser.sex" type="text" id="addUsername" class="form-control"
                                    placeholder="性别">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">年龄：</label>
                                <input v-model="updateUser.age" type="text" id="addUsername" class="form-control"
                                    placeholder="年龄">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email：</label>
                                <input v-model="updateUser.email" type="text" id="addUsername" class="form-control"
                                    placeholder="Email：">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="cancelUpdate" type="button" class="btn btn-default">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 删除数据 -->
        <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">删除数据</h4>
                    </div>
                    <div class="modal-body">
                        <table width="100%" class="table table-bordered table-hover">
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>{{delItem.id}}</td>
                                <td>{{delItem.name}}</td>
                                <td>{{delItem.sex}}</td>
                                <td>{{delItem.age}}</td>
                                <td>{{delItem.email}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="del">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                //要被删除元素的索引
                delIndex: 0,
                //要被更新元素的索引
                updateIndex: 0,
                //被选中的元素的id
                selectId: '',
                userList: [{
                        id: 1725121023,
                        name: '翁彧贤',
                        sex: '男',
                        age: 20,
                        email: 'wyx@wyx.com',
                        vis: true,
                    },
                    {
                        id: 1725121024,
                        name: '吴明勇',
                        sex: '男',
                        age: 18,
                        email: 'wmy@wmy.com',
                        vis: true,
                    },
                    {
                        id: 1725121025,
                        name: '吴艺萍',
                        sex: '女',
                        age: 20,
                        email: 'wyp@wyp.com',
                        vis: true,
                    }
                ],
                //临时变量,用于插入
                newUser: {
                    id: '',
                    name: '',
                    sex: '',
                    age: '',
                    email: '',
                    vis: true,
                },
                //临时变量,用于更新
                updateUser: {
                    id: '',
                    name: '',
                    sex: '',
                    age: '',
                    email: '',
                    vis: true,
                },
                //临时变量,用于删除
                delItem: {
                    id: '',
                    name: '',
                    sex: '',
                    age: '',
                    email: '',
                    vis: true,
                }
            },
            methods: {
                //添加数据
                add() {
                    var temp = JSON.stringify(this.newUser);
                    var cloneUser = JSON.parse(temp);
                    this.userList.push(cloneUser);
                    $('#addModal').modal("hide");
                },
                //保存要删除item的索引
                setDelIndex(index) {
                    this.delIndex = index;
                    this.delItem = this.userList[index];
                },
                //删除数据
                del() {
                    this.userList.splice(this.delIndex, 1);
                    $('#delModal').modal("hide");
                },
                //更新数据
                update(index) {
                    //保存索引,用于撤销操作
                    this.updateIndex = index;
                    //cancelUpdateItem是用于撤回的备份
                    //json来回转置得到深拷贝,确保cancelUpdateItem不会被改变
                    var temp = JSON.stringify(this.userList[index]);
                    this.cancelUpdateItem = JSON.parse(temp);
                    this.updateUser = this.userList[index];
                },
                //撤回更新,数据已经更新
                cancelUpdate() {
                    this.updateUser = this.cancelUpdateItem;
                    this.userList[this.updateIndex] = this.cancelUpdateItem;
                    $('#updateModal').modal("hide");
                },
                //查询
                select(id) {
                    for (var i = 0; i < this.userList.length; i++) {
                        if (this.userList[i].id == this.selectId) {
                            continue;
                        }
                        this.userList[i].vis = false;
                    }
                    $('#selectModal').modal("hide");
                }
            }
        });
    </script>
</body>

</html>