<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>
        111
    </title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id='app'>{{msg}}

        <div>
            <ul>
                <li v-for="(item,index) in forLists">
                    {{index}},&nbsp;{{item.o}}
                </li>
            </ul>
        </div>

        <input v-model="msg"/>
        {{msg}}

        <button @click="myclick">click me</button>
    </div>

    <script src="index.js"></script>
</body>

</html>